<h1>@ViewBag.Title</h1>

@if (ViewBag.Cheeses.Count == 0)
{
    <p>There are no cheeses in the list!</p>
}

<p>To select some mark them on the right side and press button Delete Selected,
    to delete all just press Button Delete All</p>
    <form method="post">
        <ul>
            @foreach (Cheese thischeese in ViewBag.cheeses)
            {
            <div>
                <input type="checkbox" id="@thischeese.CheeseId" value="@thischeese.CheeseId" name="cheeseSelect" />
                <label for="@thischeese.CheeseId">@thischeese.Name  @thischeese.Description</label>
            </div>
            }
        </ul>
        <input type="submit" value="Delete Selected" formaction="DeleteSelected" />
        <input type="submit" value="Delete All" formaction="DeleteAll"/>
    </form>