@{
}
@if (ViewBag.Cheeses.Count == 0)
{
    <p>There are no cheeses in the list!</p>
}

    <h1>Delete Cheeses</h1>

<p>To select some mark them on the right side and press button Delete Selected,
    to delete all just press Button Delete All</p>
    <form method="post">
        <ul>
            @foreach (Cheese thischeese in ViewBag.cheeses)
            {
                <div>
                    <label for="@thischeese.Name">@thischeese.Name  @thischeese.Description</label>
                    <input type="checkbox" id="@thischeese.Name" value="@thischeese.Name" name="cheeseSelect" />
                </div>
            }
        </ul>
        <input type="submit" value="Delete Selected" formaction="DeleteSelected" />
        <input type="submit" value="Delete All" formaction="DeleteAll"/>
    </form>